@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: rgb(0, 0, 0);
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}


h1 {
  line-height: 1.4;
  font-size: 2rem;
}

h2 {
  line-height: 1.4;
  font-size: 1rem;
}

p1 {
font-size: 1rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background:  #fff;
}

.screen.up {
  margin-top: -100vh;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.product-business {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.product-business li {
  margin: 10px;

  

}
.product li {
  margin: 10px;
}

.product-btn {
  background-color: #ffdd2d;
  border: 2px solid #ffdd2d;
  border-radius: 5px;
  color: rgb(10, 10, 10);
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}



.product-btn:hover {
  border: 2px solid #fcc521;
  background-color: #fcc521;
}

.product-business-btn {
  background-color: #ffdd2d;
  border: 2px solid #ffdd2d;
  border-radius: 5px;
  color: rgb(10, 10, 10);
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}



.product-business-btn:hover {
  border: 2px solid #fcc521;
  background-color: #fcc521;
}

.hide {
  opacity: 0;
}



.text {
  text-align: left;
  
}